# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse, IntelliJ, NetBeans
/.classpath
/.project
/.settings/
/.idea/
/*.iml

# Logs and temp
*.log
tmp/
*.tmp

# OS files
.DS_Store
Thumbs.db

# IntelliJ
out/

# Maven wrapper
mvnw
mvnw.cmd

# Others
.settings/
*.class